<!DOCTYPE html>
<html>

<head>
    <title>Download Page CYS</title>
</head>

<body>
    <h1>File Download Page</h1>
    <hr>

    <h2>겁나 귀찮네</h2>


    <!-- 하이퍼링크 걸린 파일이름이 항상 fileRepository의 다운로드 하고자 하는 파일명이랑 일치해야함 -->
    <a href="/download/wow.zip">wow.zip</a> 

</body>
</html>