<!DOCTYPE html>
<html>

<head>
    <title>Download Page CYS</title>
</head>

<body>
    <h1>File Download Page</h1>
    <hr>

    <h2>겁나 귀찮네</h2>

    <a href="/download/1">file1</a> 

    <!-- <script>
	    $(document).ready(function(){
			$("#login_btn").click(function(){
				var json = {
					u_id : $("#u_id").val(),
					u_pw : $("#u_pw").val()
				};
				
				for(var str in json){
					if(json[str].length == 0){
						alert("Please enter " + $("#" + str).attr("placeholder"));
						$("#" + str).focus();
						return;
					}
				}
				window.location.href = "/main";
				//  $.ajax({
				// 	type : "post",
				// 	url : "login",
				// 	data : json,
				// 	success : function(data) {
                //         window.location.href = "/main";
				// 	},
				// 	error : function(error) {
				// 		alert("error : "+ JSON.stringify(error));
				// 	}
				// });
			});
		});
    </script> -->
</body>
</html>