<!DOCTYPE html>
<html>

<head>
    <title>Download Page CYS</title>
</head>

<body>
    <h1>File Download Page</h1>
    <hr>

    <h2>겁나 귀찮네</h2>


    <!-- 하이퍼링크 걸린 파일이름이(a href="/download/wow.zip") 항상 fileRepository의 파일이 있어야하며 다운로드 하고자 하는 파일명이랑 일치해야함 -->
    <!-- 다른거 건들지 말고 아래 코드를 복사하여 아래쪽에 붙여넣고 파일을 repository에 넣으면 화면 변경 및 파일 다운로드 -->
    <a href="/download/wow.zip">wow.zip</a> 
    <a href="/download/sample.zip">샘플저장</a> 
    

</body>
</html>